# Database Configuration
DB_USERNAME=sa
DB_PASSWORD=your_db_password

# JWT Configuration
JWT_SECRET=bXktc2VjcmV0LWtleS1mb3ItZWNvbW1lcmNlLW1hcmtldHBsYWNlLXByb2plY3QtMjAyNg==
JWT_EXPIRATION_ACCESS=900000
JWT_EXPIRATION_REFRESH=604800000

# Mail Configuration
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
